.father {
	display: flex;

	/* main axis */
	justify-content: space-around;
	/* cross axis */
	height: 100vh;
	flex-wrap: nowrap;
}

.child {
	background-color: blue;
	width: 200px;
	height: 200px;
	background-color: peru;
	color: white;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
